.forecast {
    border: 1px solid black;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #65b6bc;
    padding: 2rem;
}

.city {
    font-size: 2rem;
    text-transform: uppercase;
}

.icon {}

.temp {
    font-size: 5rem;
}

@media (max-width: 920px) {

    .forecast {
        width: 100%;
    }
}